
@{
    ViewBag.Title = "thông tin khách hàng";
}

<h2>thông tin khách hàng </h2>

<div class="alert alert-danger"›
<p>ma so:@ViewBag.customer.Customer</p>
<p>ma so:@ViewBag.customer.firstname @ViewBag. customer.lastname</p>
<p>ma so:@ViewBag.customer.address</p>
<p>ma so:@ViewBag.customer.Year0fBirth</p>
</div>